{% extends 'base.html' %} 
{% load staticfiles %}
{% block content %}
 <!-- Header -->
 <section class="about-header">
    <div class="header-banner">
      <h1 class="main-heading">A little bit about us</h1>
      <h3 class="sub-heading">Once upon a time, in Thailand...</h3>
    </div>
  </section>

<section class="about-us">
    <div class="about-us-left">
      <img src="{% static 'img/ancient.jpg' %}" alt="" />
    </div>

    <div class="about-us-right">
      <h1 class="main-heading">Chef Somying</h1>
      <h3 class="sub-heading">The mastermind behind this menu</h3>
      <div class="stars">
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
      </div>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        dolor illo quia debitis deleniti asperiores officiis, beatae autem
        error et, reprehenderit veniam laborum in ad ex blanditiis.
        Aspernatur, fugit! Blanditiis quo dolore suscipit earum aspernatur
        recusandae officiis ducimus veritatis vero, consequatur dolorum
        consequuntur expedita deleniti ab exercitationem autem, beatae fugiat?
      </p>
      <div class="stars">
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
      </div>
      <!-- <button type="button" class="secundary-btn">Read More</button> -->
    </div>
  </section>
{% endblock %}
