{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Header -->
<header class="header">
  <div class="brand">
    <a href="#" class="logo"><i class="fas fa-ustensiles"></i></a>
    <div>
      <img src="{% static 'img/logo-01.png' %}" alt="logo" class="logo-image" />
    </div>
  </div>
  <div class="header-banner">
    <h1 class="main-heading">Welcome</h1>
    <h3 class="sub-heading">Thai Cuisine in it's best</h3>
    
  </div>
</header>
<!-- Features -->

<section class="about-us">
    <div class="about-us-left">
      <img src="{% static 'img/about-us.png' %}" alt="" />
    </div>

    <div class="about-us-right">
      <h1 class="main-heading">About Us</h1>
      <h3 class="sub-heading">Introduce the Thai Dishes</h3>
      <div class="stars">
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
      </div>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        dolor illo quia debitis deleniti asperiores officiis, beatae autem
        error et, reprehenderit veniam laborum in ad ex blanditiis.
        Aspernatur, fugit! Blanditiis quo dolore suscipit earum aspernatur
        recusandae officiis ducimus veritatis vero, consequatur dolorum
        consequuntur expedita deleniti ab exercitationem autem, beatae fugiat?
      </p>
      <div class="stars">
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
        <i class="fas fa-star-of-life star">*</i>
      </div>
      <a href="{% url 'about' %}" type="button" class="secondary-btn">Read More</a>
    </div>
  </section>
  <!-- End of About Us -->

  <!-- Gallery -->
  <section class="gallery">
    <div class="cards-wrapper">
      {% for menu in featured_menu %}
      <div class="card">
        <div class="card-overlay">
          <h1 class="card-overlay-heading">{{ menu.title }}</h1>
          <p class="card-overlay-paragraph">$ {{ menu.price }}</p>
          <a href="{% url 'menu' %}" type="button" class="card-overlay-btn">Explore Menu</a>
        </div>
        <img src="{{ menu.photo.url }}" alt="" class="card-img" />
      </div>
      {% endfor %}
      
    </div>
  </section>

{% endblock %}
