{% extends 'base.html' %} 
{% load staticfiles %}
{% block title %} | Menu {% endblock %} 
{% block content %}



<section class="menu-header">
    <div class="header-banner">
      <h1 class="main-heading">Menu</h1>
      <h3 class="sub-heading">Explore the best of our cuisine</h3>
    </div>
  </section>
  <!-- End of About Us -->

  <!-- Gallery -->
      {% if categories %}
      {% for cat in categories %}
      <section class="gallery">
          
        <h1 class="menu-heading-text">{{ cat.title }}</h1>
        
          <div class="cards-wrapper">
              {% for menu in cat.menu.all %}
            <div class="card">
              <div class="card-overlay">
                <h1 class="card-overlay-heading">{{ menu.title }}</h1>
                <p class="card-overlay-paragraph">$ {{ menu.price }}</p>
                <button type="button" class="card-overlay-btn">Order</button>
              </div>
              <img src="{{ menu.photo.url }}" alt="" class="card-img" />
              
            </div>
          
            {% endfor %}
         
          
        </div>
        
      </section>
    {% endfor %}
  {% endif %}
{% endblock %}
